.navBarContainer{
    background-color:black;
    padding: 10px 20px;
    display: flex;
    height: 50px;
    align-items: center;
    border-radius: 20px;
}

.navBarElementContainer{
    display: flex;
    gap:20px;
}

.navLink {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.navLink:hover {
    text-decoration: underline;
}